@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat";
}

.navigace {
    background-color: #ff6961;
  }
  
  .navigace ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    display: flex;
    justify-content: center;
  }
  
  .navigace li {
    margin: 0 10px;
  }
  
  .navigace a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navigace a:hover {
    background-color:#944a46;
    color: #fff;
  }

  .logo {
    position: absolute;
    margin-top: 1%;
    margin-left: 12%;
  }

  #kontakt   {
    list-style: none;
  }



td {
  display: grid;
}

  table{
    width: 312px;
  height: 445px;
  overflow: hidden;
  text-align: center;
  border: solid;
  border-color: rgba(165, 165, 165, 0.818);
  padding-right: 10%;
  display: inline-block;
  margin-left: 3%;
}

form div {
  margin-top: 5px;
}

label:first-child {
  display: inline-block; /* můžeme nastavit šířku a zároveň zůstane na řádku se vstupním prvkem */
  width: 120px;
}
input[type=submit] {
  padding: 10px;
}
[required] {
  border: 3px red solid;
}
input[type=radio]:checked + label {
  font-weight: bold;
}
input[type=checkbox] + label {
  padding-left: 40px;
  background-image: url(./off-button.png);
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: left center;
}
input[type=checkbox]:checked + label {
  background-image: url(./on-button.png);
}